@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}


@mixin footer {
    @include center;
    font-size: 10px;
    margin-top: 1rem;

    a {
        color: hsl(228, 45%, 44%);
    }
}