/* ========================== fonts ======================= */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");
footer {
  font-size: 10px;
}
footer a {
  color: hsl(228deg, 45%, 44%);
}

/* ========================= styles ====================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(185deg, 41%, 84%);
  font-family: "Space Mono", "Courier New", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

#logo {
  display: block;
  margin: 3rem auto;
}

/* ----------------- card section ---------------------- */
section.container {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 1rem;
  padding: 1.5rem;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2s linear;
}

/* --------- left section ----------- */
form {
  position: relative;
  margin-top: 1.4rem;
}

label {
  font-size: 1rem;
  font-weight: 700;
  color: hsl(186deg, 14%, 43%);
  position: relative;
  display: block;
}
label span {
  display: none;
}

/* enable when value 0 */
label span.empty {
  display: inline;
  color: rgb(255, 102, 102);
  position: absolute;
  right: 0;
}

#num-people__input.empty {
  border: 3px solid rgba(255, 102, 102, 0.5);
}

/* outline of input fields */
form input:focus {
  border: 3px solid hsla(172deg, 67%, 45%, 0.445);
  border-radius: 5px;
  outline: none;
}

form .input-field {
  color: hsl(183deg, 100%, 15%);
  background-color: hsl(189deg, 41%, 97%);
  text-align: right;
  border-radius: 5px;
  border: 3px solid transparent;
  font-family: "Space Mono", "Courier New", monospace;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 5px;
  max-width: 100%;
  width: 100%;
}

.input-container__amount::before,
.num-people__input::before {
  position: absolute;
  top: 38px;
  left: 13px;
  font-size: 1.1rem;
  color: hsl(184deg, 14%, 56%);
  opacity: 0.5;
}

.input-container__amount::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f155";
  font-weight: 700;
}

.num-people__input::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f406";
  font-weight: 700;
}

/*---------- select tip ----------- */
.percent-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 100%;
  width: 100%;
  margin-top: 10px;
  /* enable on click */
}
.percent-options > button,
.percent-options .custom-percentage {
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-family: "Space Mono", "Courier New", monospace;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
}
.percent-options > button {
  color: hsl(189deg, 41%, 97%);
  background-color: hsl(183deg, 100%, 15%);
  letter-spacing: 1.2px;
}
.percent-options > button::after {
  content: "%";
}
.percent-options > button:hover {
  background-color: hsl(185deg, 41%, 84%);
  color: hsl(183deg, 100%, 15%);
}
.percent-options > button.click {
  background-color: hsl(172deg, 67%, 45%);
}
.percent-options .custom-percentage {
  width: 100%;
  text-align: center;
  background-color: hsl(189deg, 41%, 97%);
  color: hsl(186deg, 14%, 43%);
  font-size: 1rem;
}

/* ----------- right section ------------- */
.display-container {
  background-color: hsl(183deg, 100%, 15%);
  border-radius: 10px;
  margin-top: 5%;
  padding: 1rem;
  width: 100%;
}

.display-description {
  color: hsl(189deg, 41%, 97%);
  font-size: 1rem;
  font-weight: 700;
}

.display-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0px;
}

p:not(.amount, .display-description) {
  color: hsl(184deg, 14%, 56%);
}

p.amount {
  color: hsl(172deg, 67%, 45%);
  font-size: 2rem;
  font-weight: bold;
}

/* reset button */
.reset-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  height: 50px;
  padding: 5px;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  background-color: hsl(186deg, 14%, 43%);
  transition: all 0.5s ease;
}
.reset-btn:enabled {
  background-color: hsl(172deg, 67%, 45%);
  cursor: pointer;
}
.reset-btn:enabled:hover {
  background-color: hsl(185deg, 41%, 84%);
}

/* ------------------- footer ------------------- */
footer {
  display: none;
}

/* ====================== media queries ======================= */
@media screen and (min-width: 800px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #logo {
    margin-top: 0px;
  }
  section.container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 850px;
    width: 95%;
    border-radius: 20px;
    padding: 2rem;
    height: auto;
    margin: 0 auto;
  }
  .container > article {
    flex-basis: 47%;
    margin: 0;
  }
  /* ----select tip---- */
  .percent-options {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.1 rem;
  }
  /* ---reset button--- */
  .reset-btn {
    margin-top: 8rem;
  }
}/*# sourceMappingURL=style.css.map */